
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Project name</a>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>Project</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Heading</h2>
            <ng-outlet></ng-outlet>
        </div>
    </div>
    <hr>
    <footer>
        <p>2016 BlueMetal</p>
    </footer>
</div>