<div class="panel panel-default">
    <div class="panel-heading">Product list</div>
    <div class="panel-body">
        <div ng-repeat="product in productList.products">
            <a ng-link="['Product', {id: product.id}]" >{{product.name}}</a>
        </div>
    </div>
</div>