<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>Product {{product.id}}</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Buy</a>
            </div>
        </div>
    </div>
</div>